.loginWrapper {
  height: calc(100vh - 63px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #3891fc;
  border-radius: 10px;
  font-size: 1.6rem;
  transition: background-color 0.2s linear;
}

.login:hover {
  background-color: #3891fc;
  color: whitesmoke;
}

.googleIcon {
  font-size: 1.8rem;
}

.login p {
  margin-right: 5px;
}
