.messageWrapper {
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
}

.messageWrapper img {
  position: relative;
  width: 31px;
  height: 31px;
  border-radius: 50%;
}
.messageWrapper img::after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: url("../../../../images//userPreview.png") no-repeat center
    center/cover;
}

.message {
  position: relative;
  padding: 10px 15px;
  border-radius: 35px;
  max-width: 80%;
  line-height: 1.15rem;
}

.messageRight {
  background-color: #3891fc;
}

.messageLeft {
  background-color: #2f70d2;
}

.dateCreation {
  position: absolute;
  top: 100%;
  color: grey;
  width: 120px;
  font-size: 0.57rem;
}

.dateCreationRight {
  left: 100%;
  transform: translateX(-55%);
}
.dateCreationLeft {
  left: 3px;
}
